.container {
    display: flex;
    flex-direction: column;
}

.container p, .container h2 {
    user-select: none;
}

nav {
    background-color: #471184;
    background: linear-gradient(to left, #1c0536, #7234b8);
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid white;
    
}

nav ul {
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
}

nav ul, nav ul li, nav ul li a {
    display: flex;
    text-decoration: none;
}

nav ul li {
    padding: 1rem;
}

nav ul li a p {
    font-size: 1.5rem;
    text-decoration: none;
}

nav ul li a p {
    margin-left: 0.5rem;
    font-size: 2.5rem;
    margin-top: 0.3rem;
    font-family: "Comeback of the damned";
    color: #EEBF24;
    font-weight: 900;
    
}
nav img {
    width: 4rem;
    height: 4rem;
}

.nav-logo {
    margin-right: auto;
}

.nav-right {
    align-self: flex-end;  
    margin: 1rem;
}

.nav-right a {
    color: #edd380;
    font-family: "Asgalt";
    font-size: 2rem;
    font-weight: 600;

}

.nav-right a:hover {
    animation: color-change-nav 0.75s ease-in-out infinite alternate;
}

@keyframes color-change-nav {
    from {
        color: #edd380;
    }
    to {
        color: #faf8f2;
        text-shadow: 0 0 0.1rem #efdfa8, 0 0 0.2rem #f4ecd1, 0 0 0.3rem #f6f3e7;
    }
}

@media only screen and (max-width: 600px) {
    nav ul li {
        padding: 0.5rem;
        margin: 0.5rem;

    }

    nav img {
        width: 3rem;
        height: 3rem;
    }

    .nav-logo p {
        font-size: 2rem;
        margin-left: 0.25rem;
    }

    .nav-logo {
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-right {
        margin: 0.25rem;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }

    .nav-right a {
        font-size: 1.5rem;

    }
}

/* COVER */
.cover {
    background: no-repeat url("../img/cover/cover.png");
    background-position: center;
    background-size: cover;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-template-rows: 1fr;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

@media only screen and (max-width: 1000px) {
    .cover {
        display: flex;
        flex-direction: column;
    }
}

.card {
    display: inline-block;
    background: linear-gradient(to bottom, #8e5aca, #100121);
    margin: 1rem;
    border-radius: 10px;
    text-align: center;
    user-select: none;

}



.card div {
    padding: 0.5rem;
}

.card h2 {
    color: #edd380;
    font-family: "Black Widow";
    font-weight: 100;
    font-size: 2.5rem;
}

.cover div h2{
    text-align: center;
}

.cover img {
    border: 2px solid white;
    border-radius: 5px;
    width: 100%;
}

.inner-card p {
    color: #edd380;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 620;
}

.cover-footer {
    display: flex;
    flex-direction: column;
    font-family: "Halloween Too";
    font-size: 3rem;
    color: #e60f0f;
    font-weight: 100;
    grid-row: -1;
    grid-column: 1/4;
    align-items: center;
}

.cover-footer h2 {
    margin-top: 4rem;
}

.cover-footer button {
    margin-top: 2rem;
    display: inline-block;
    width: 18rem;
    height: 8rem;
    border: 2px solid #edd380;
    border-radius: 10px;
    font-size: 4rem;
    background: linear-gradient(to bottom, #8e5aca, #100121);
    color: #edd380;
    margin-bottom: 2rem;

}

.cover-footer button a {
    text-decoration: none;
    color: #edd380;
}

.cover-footer button a:hover {
    cursor: url("../img/cover/heart.png"), auto;
    animation: cover-button 2s ease-in-out infinite alternate;
}

@keyframes cover-button {
    from {
        color: #edd380;
        border-color: #edd380;
    }
    to {
        color: rgb(147, 126, 5);
        border-color: rgb(147, 126, 5);
    }
}

.card:hover {
    animation: card-hover 1s ease-in-out infinite alternate;
    
}

@keyframes card-hover {
    from {
        transform: scale(1);
        
    }
    to {
        transform: scale(1.05);
        
    }
}

/* .cover-footer input {
    border: 0px;
    width: 100%;
    height: 1rem;
} */

.cover-footer input {
    color: red;
}

.cover-footer label {
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    font-weight: 600;
}


/* Footer */
footer {
    background-color: #100121;
    display: flex;
    color: rgb(253, 255, 223);
    font-family: monospace;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid white;
}

footer p {
    padding: 0.5rem;
    
}

